# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
* List popular languages for Data Science
* List popular libraries used in data Science
* Perform simple calculations
* Convert hours to minutes

## Author
Philipp Messner

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. SQl
5. SAS

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. SciP
4. TensorFlow

<table>
  <thead>
    <tr>
      <th>Data Science Tools</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Jupyter notebook</td>
    </tr>
    <tr>
      <td>Spyder</td>
    </tr> 
      <tr>
      <td>IBM Watson</td>
    </tr> 
      
  </tbody>
</table>

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#his will convert 200 minutes to hours by diving by 60
m = 200 #minutes
h = m* 60
h

12000